
		.btn{
            display: inline-block;
            width: 146px;
            height: 48px;
            background: #1A68D2;
            border-radius: 51px;
            text-align: center;
            line-height: 48px;
            font-size: 18px;
            color: #FFFFFF;
        }

		.title-top{
			position: fixed;
			left: 0;
			right: 0;
			top: 0;
			display: flex;
			align-items: center;
			height: 80px;
			background: #FFFFFF;
			box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.1);
			padding: 0 40px;
		}
		.title-top img{
			width: 48px;
		}
		.title-top span{
			font-size: 18px;
			font-weight: 300;
			line-height: 32px;
			margin-left: 10px;
			flex: 1;
		}

        .top-title{
            min-height: 100vh;
            background: linear-gradient(180deg, #F9F9FA 0%, #EEF4FE 100%);
            text-align: center;
            padding: 158px 0 24px 0;
            margin-bottom: 77px;
            box-sizing: border-box;
        }
        .top-title img{
            max-width: 100%;
        }
        .top-title h1{
			line-height: 88px;
            margin: 20px 0 25px;
            font-size: 60px;
            font-weight: 400;
        }
        .top-title p{
            color: #3C4043;
			margin: 32px 0 60px;
            line-height: 22px;
            font-size: 12px;
        }
        
        .list{
            overflow: hidden;
            padding-bottom: 20px;
        }
        .item-list{
            display: flex;
            align-items: center;
            max-width: 1200px;
            width: 96%;
            margin: 0 auto 110px;
        }
        .item-list img{
            max-width: 100%;
            vertical-align: middle;
        }
        .item-img{
            margin-right: -114px;
        }
        .item-list:nth-child(even) .item-img{
            margin-right: 0;
            margin-left: -114px;
        }
        .item-cont{
            flex: 1;
            box-sizing: border-box;
            display: flex;
        }
        .item-list:nth-child(even) .item-cont{
            order: 1;
            justify-content: flex-end;
        }
        .item-cont > div span{
            font-size: 14px;
            font-weight: 300;
            line-height: 21px;
        }
        .item-cont > div em{
            display: block;
            font-style: normal;
        }
        .item-cont > div div{
            font-size: 47px;
            line-height: 58px;
            margin: 7px 0 16px;
        }
        .item-cont > div p{
            font-size: 18px;
            font-weight: 300;
            line-height: 32px;
            margin-bottom: 14px;
        }
        .item-cont > div a{
            display: inline-block;
            font-size: 18px;
            font-weight: 300;
            color: #1967D2;
            line-height: 32px;
            padding-right: 20px;
            transition: padding-right .2s ease;
            background: url(https://chrome.buswvv.cn/img/icon1.png) right center no-repeat;
        }
        .item-cont > div a:hover{
            padding-right: 23px;
        }

        .bt-wrap{
            height: 600px;
            background: url(https://chrome.buswvv.cn/img/tu6.png) right center no-repeat #3559DA;
        }
        .bt-wrap > div{
            max-width: 1192px;
            margin: 0 auto;
            padding-top: 170px;
        }
        .bt-wrap .msg{
            font-size: 56px;
            color: #FFFFFF;
            line-height: 65px;
        }
        .bt-wrap .btn2{
            display: inline-block;
            width: 250px;
            height: 64px;
            line-height: 64px;
            text-align: center;
            background: #FFFFFF;
            border-radius: 30px;
            font-size: 24px;
            font-weight: 300;
            color: #3559DA;
            margin-top: 30px;
        }
        .bt-wrap .btn2:hover{
            background: #e8f0fe;
        }

        @media (max-width:1200px) {
            .bt-wrap{
                background: #3559DA;
                text-align: center;
            }
            .item-list{
                flex-wrap: wrap;
                justify-content: center;
            }
            .item-cont{
                flex: 0 0 100%;
                display: block;
            }
            .item-list:nth-child(even) .item-cont{
                order: 0;
            }
            .item-cont > div {
                width: 90%;
                margin: 0 auto;
            }
            .item-cont > div em{
                display: inline;
            }
            .item-img{
                margin-right: 0;
            }
            .item-list:nth-child(even) .item-img{
                margin-left: 0;
            }
        }
		.footer {
            height: 80px;
            text-align: center;
            padding-top: 1px;
            background: #FFFFFF;
        }

        .footer p {
            display: block;
            text-align: center;
            font-size: 14px;
            font-family: Microsoft YaHei;
            font-weight: 400;
            color: #999999;
            line-height: 15px;
            margin: 16px 0 8px;
        }

        .footer a {
            display: inline-block;
            font-size: 14px;
            font-family: Microsoft YaHei;
            font-weight: 400;
            color: #FFFFFF;
            line-height: 15px;
            text-decoration: none;
        }

            .footer a:hover {
                color: rgba(197,210,237);
            }

        .footer p i {
            display: inline-block;
            background-color: #FFFFFF;
            width: 2px;
            height: 10px;
        }